@import '~node_modules/modern-normalize/modern-normalize.css';
*{
  box-sizing: border-box;
  margin: 0;padding: 0;
}
html::before,
html::after{
  box-sizing: inherit;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center
}

