/* Colors */
// $accent-color:   #555555;
// $accent-color-hover: #8B8681 ;
// $buttons: #7972AA;

// $primary-color-light: #393030;
// $secondary-color-light: #ffffff;
// $accent-color-light:   #ffffff;
// $accent-color-hover-light: #bcb3ab ;
// $buttons-light: #128022;
// $theme-switcher-bg-light: #f5f5f6;
// $theme-switcher-before-light: #FFD371;

// $primary:$accent-color-light;
// $secondary:$secondary-color-light;
// $accent-color:$accent-color-light;
// $accent-hover:$accent-color-hover-light;
// $theme-switcher-bg-light: $theme-switcher-bg-light;
// $theme-switcher-before-light: $theme-switcher-before-light;
:root[data-theme="light"]{
  --bgc: #555555;
  --inputs: #8B8681;
  --theme-swither: #f5f5f6;
  --theme-switcher-before: #FFD371;
  --buttons: #7972AA;
  --position-switcher:2px;
  --position-switcher-Y:2px;
  --icons-color: #DCE3FF;
}
:root[data-theme="dark"]{
  --inputs: #1b1b1b;
  --bgc: darken(var(--inputs));
  --theme-swither: #0A0A09;
  --theme-switcher-before: #7190FF;
  --buttons: #868D55;
  --position-switcher:30px;
    --position-switcher-Y:2px;
  --icons-color: #B1B0B5;
}
$transition: background-color 400ms linear;
/* Remove default styling */
section{
  background-color: var(--bgc);
}
textarea,
textarea:disabled{
  background-color: var(--inputs);
  border-radius: 10px;
  outline: transparent;
  border: transparent;
  padding-top: 20px;
  padding-left: 15px;
  color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  
}
#submit{
  border: transparent;
  border-radius: 15px;
  width: 50%;
  height: 35px;
  background-color: var(--buttons);


  color: white;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);

}
*{
  transition: $transition
}