/* Colors */
$primary-color: #ffffff;
$secondary-color: #ffffff;
$accent-color:   #555555;
$accent-color-hover: #8B8681 ;
$buttons: #7972AA;

/* Remove default styling */
section{
  background-color: $accent-color;
}
textarea,
textarea:disabled{
  background-color: $accent-color-hover;
  border-radius: 10px;
  outline: transparent;
  border: transparent;
  padding-top: 20px;
  padding-left: 15px;
  color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  
}
#submit{
  border: transparent;
  border-radius: 15px;
  width: 50%;
  height: 35px;
  background-color: $buttons;


  color: white;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);

}