.controls{
  // width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  top: 10px;
  left: 10px;
  @media screen and (min-width: 1024px) {
      top: 250px;
      left: 10;

    }
}
.to{

  top: 320px;
  left:10px;
    @media screen and (min-width: 1024px) {
      top: 250px;
      left: 100%;
      transform: translateX(-100%);
      padding-right: 10px;
    }
}
i{
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
  cursor: pointer;
  @media screen and (min-width: 1024) {
    
  }
}

button[data-action="translate"]{
  width: 100%;
}
.controls li:first-child{
  margin-right: 40px;
}

// .reverse-button{
//   position: absolute;
//   top: 900%;
//   left: 100%;
//   transform: translateX(-50%);
//     @media screen and (min-width: 1024px) {
//       position: relative;
//       transform: rotate(90deg);
//       margin-right: auto;
//     }
  
// }

.controls-container{
  // position: absolute;
  top: 0;
  left: 0;
  
}
.langage-api{
  position: absolute;
  top:250;
  display: flex;
  // @media screen and (max-width: 1024px) {
    
    left: 50%;
    transform: translateX(-50%);
  // }

  @media screen and (min-width: 1024px){
    // left: 0
  }
}