.theme-switcher{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: var(--theme-swither);
  border-radius: 50px;
  width: 56px;
  height: 28px;
}
.switch-icon{
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  
  // &:sun{

  // }
}
.theme-switcher::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4%, 4%);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--theme-switcher-before);
    z-index: 0;
}